<div class="container">
  <form class="form-horizontal" (onSubmit)="addNewBook()" #bookForm="ngForm">

    <h3>Book details:</h3>

    <div class="form-group">
      <label class="control-label col-sm-2" for="title">Title: </label>
      <div class="col-sm-10">
        <input [(ngModel)]="book.Title" type="text" class="form-control" id="title" name="title" placeholder="enter title">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="publicationDate">Publication date: </label>
      <div class="col-sm-10">
        <input [(ngModel)]="book.YearOfPrint" type="number" class="form-control" id="publicationDate" name="publicationDate" placeholder="enter publication date">
      </div>
    </div>

    <h3>Author details:</h3>

    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name: </label>
      <div class="col-sm-10">
        <input [(ngModel)]="author.Name" type="text" class="form-control" id="name" name="name" placeholder="enter author's name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="surname">Surname: </label>
      <div class="col-sm-10">
        <input [(ngModel)]="author.Surname" type="text" class="form-control" id="surname" name="surname" placeholder="enter author's surname">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="birthDate">Birth date: </label>
      <div class="col-sm-10">
        <input [(ngModel)]="author.YearOfBirth" type="date" class="form-control" id="birthDate" name="birthDate" placeholder="enter author's birth date">
      </div>
    </div>

    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" id="submitBut"  class="btn btn-primary" (click)="addNewBook()">Submit</button>
      <button  id="clearBtn" class="btn btn-default" (click)="addNewBook()">Clear</button>
    </div>
  </div>
  </form>
</div>
