<div *ngIf="messageService.messages.length !== 0">
  <h3>Messages:</h3>
  <button class="btn btn-default" (click)="messageService.clearMessages()">Clear messages</button>
  <ul>
    <li *ngFor="let message of messageService.messages">{{message}}</li>
  </ul>
</div>
