<nav *ngIf="isLoggedIn()"  class="container navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Welcome to Books app!</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a routerLink="books">Books list</a></li>
    <li><a routerLink="book/add">Add book</a></li>
    <li><a id="logoutBtn" routerLink="#" (click)="logout()">Logout</a></li>
  </ul>
</nav>
