<div class="container" *ngIf="book">
  <h2>{{book.Title}}, <i>{{book.YearOfPrint}}</i></h2>

  <h3>{{book.Author.Name + ' ' + book.Author.Surname}}</h3>
  <div>
    Birth date: {{book.Author.YearOfBirth | date: 'mediumDate'}} <span class="glyphicon glyphicon-star" *ngIf="book.Author.IsModentAuthor"></span>
  </div>
  <button class="btn btn-danger" (click)="delete()">Delete this book</button>
</div>
<div class="container" *ngIf="!book">
  <i>Loading stuff...</i>
</div>
