<form id="loginForm" class="form-horizontal" #bookForm="ngForm">

  <h3>Login:</h3>

  <div class="form-group">
    <label class="control-label col-sm-2" for="userName">Title: </label>
    <div class="col-sm-10">
      <input [(ngModel)]="userCredentials.UserName" type="text" class="form-control" id="userName" name="userName" placeholder="enter user name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="password">Publication date: </label>
    <div class="col-sm-10">
      <input [(ngModel)]="userCredentials.Password" type="password" class="form-control" id="password" name="password" placeholder="enter password">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="loginBtn" class="btn btn-primary" (click)="login()">Login</button>
    </div>
  </div>
</form>
