<h2>Books available:</h2>
<div *ngIf="books && books.length === 0">
  <i>No books found</i>
</div>
<div *ngIf="books && books.length > 0">
    <span *ngFor='let book of books'>
      <a class="list-group-item" routerLink="/book/{{book.Id}}">{{book.Title}} - {{book.YearOfPrint}}</a>
    </span>
</div>
<div *ngIf="!books">
  <i>Loading stuff...</i>
</div>
